.aboutPLD{
  width: 100%;
  height: auto;
  /*padding-top: 50px;*/
  padding-bottom: 50px;
  background: #f5f5f5;
}
.aboutPLD .container{
  height:100%;
  position: relative;
  background: white;
  z-index: 11;
  text-align: center;
  padding-top: 10px;
  /*overflow: hidden;*/
}
.aboutPLD .container .logo{
	position: absolute;
	top: -70px;
	left:38%;
}
.aboutPLD .container .row1{
	margin:0 8.5%;
}
.aboutPLD .container .row1 img{
	margin:0 auto;
}
.aboutPLD .container .row1 h4{
	margin-bottom: 6%;
	font-size: 18px;
	color: #333131;
}
.aboutPLD .container .row1 h4:nth-of-type(1){
	color: #e30a2a;
	margin-top: 5%;
	font-size: 35px;
}
.aboutPLD .container .row1 .row img{
	display: inline-block;
	text-align: center;
	margin-bottom: 3.5%;
}
.aboutPLD .container .row1 .row img:nth-of-type(2){
	margin-left: 12%;
	margin-right: 12%;
}
.aboutPLD .container .row1 p{
	line-height: 34px;
	font-size: 16px;
	color: #666666;
}
.aboutPLD .container .row .r1{
	padding-top: 5%;
	width: 20%;
}
.aboutPLD .container .row img{
	margin: 0 auto;
}
.aboutPLD .container .row .serviceF{
	color: white;
	font-size: 26px;
	margin-bottom: 5%;
	margin-top: 10%;
}
.aboutPLD .container .service p{
	font-size: 16px;
	color:#666666;
	line-height: 36px;
}
.aboutPLD .container .service p a{
	font-size: 16px;
	color:#bababa;
}

.aboutPLD .container .row .col-md-4{
	padding: 0;
	/*height: 420px;*/
	color: #333131;
}
.aboutPLD .container .cooperation .row .col-md-3{
	width: 33.33%;
	margin-top: 5%;
}
.aboutPLD .container .cooperation .row .col-md-3 img{
	margin-bottom: 3%;
}
.aboutPLD .container .row .col-md-4 h4{
	padding-top: 4.5%;
	color: #333333;
}
.aboutPLD .container .row .col-md-4 p{
	padding-top: 24px;
	padding-bottom: 5%;
	line-height: 26px;
	color: #666666;
}

.aboutPLD .container .row .col-md-4 img,.aboutPLD .container .row0 img{
	width: 100%;
	/*margin-bottom: 55px;*/
}
.aboutPLD .container  h2{
	font-size: 30px;
	color: #e30a2a;
	margin-top: 9%;
	margin-bottom: 6%;
}
.aboutPLD .container .col-md-12 p{
	color:#666666;
	margin-bottom: 6%;
}
.aboutPLD .container .row0 h3{
	line-height: 135px;
	color: #333333;
}

.aboutPLD .container .roww .col-md-6 img{
	width: 100%;
}
.aboutPLD .container .recruit .col-md-3{
	width: 33.33%;
	margin-top: 50px;
}
.aboutPLD .container .recruit .col-md-3 p a{
	font-size: 24px;
	color: #333333;
}
.aboutPLD .container .recruit .col-md-3 p {
	font-size: 16px;
	color: #777777;
	line-height: 40px;
}
.aboutPLD .container .row p{
	font-size: 16px;
}
.aboutPLD .container .foot p:nth-of-type(1){
	color: #666666;
	margin-top: 8%;
	margin-bottom: 3%;
}
.aboutPLD .container .foot p:nth-of-type(2){
	color: #666666;
	margin-bottom: 10%;
}

/*********************大屏1200px***************************/
@media only screen and (min-width: 1200px){
	
	.aboutPLD .container {
  width: 1200px;
  top: -100px;
}
	.aboutPLD .container .roww img{
	height: 278px;
}
	
	
}


/*********************小于1200px***************************/
@media only screen and (max-width: 1200px){
	
.aboutPLD .container .row .r1{
	margin: 0 auto!important;
	width: 100%;
} 
	.aboutPLD .container .service{
		padding:0 5%;
	
}

.aboutPLD .container .cooperation .row .col-md-3 {
    width: 100%;
    margin: 10% auto!important;
}

.aboutPLD .container .recruit .col-md-3 {
    width: 100%;
    margin: 10% auto!important;
}
.aboutPLD .container .row1 h4 {
    font-size: 20px;
    line-height: 30px;


}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
	
}