.babyW{
  width: 100%;
  height: auto;
  background: #f5f5f5;
  padding-bottom: 90px;
}
.babyW .content1{
  height:100%;
  position: relative;
  background: white;
  z-index: 11;
  text-align: center;
  padding-top: 10px;
}
.babyW .container .row img{
	width: 100%;
}
.babyW .container .app{
	padding: 10% 6.67% 0 6.67%;
	text-align:justify;
	text-justify:distribute-all-lines;
	font-size: 18px;
}
.babyW .container .app h2{
	font-size: 34px;
	color:#ff0000;
	position: relative;
}
.babyW .container .app h2 span{
	color:#999999;
	font-size: 18px;
	position: absolute;
	right: 5px;
	bottom: 0;
}
.babyW .container .app p{
	color: #000000;
	line-height: 33px;
}
.babyW .container .app p:nth-of-type(1){
	margin-top: 60px;
}
.babyW .container .app p:nth-of-type(2){
	margin-top: 45px;
	margin-bottom: 60px;
}

.babyW .footW h2{
	color: red;
	font-size: 30px;
	margin-bottom: 35px;
	text-align: left;
}


/*********************大屏1200px***************************/
@media only screen and (min-width: 1200px){
	
	.babyW .container {
  width: 1200px;
  top: -100px;
}
	.babyW .footW .row .col-lg-4 img{
	height: 200px;
}
	
	
}




















/*********************小于1200px***************************/
@media only screen and (max-width: 1200px){
	.babyW .footW {
	padding-top: 10%!important;
}

.footW .col-lg-4{
	margin-bottom: 5%;
}
}













@media only screen and (min-width: 992px) and (max-width: 1200px) {
	
}