@charset "utf-8";
/* CSS Document */
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Arial", "Microsoft YaHei", "宋体", "Tahoma", "Verdana", "SimSun";
  color: #818181;
}
td,
p,
div,
a,
form,
header,
section,
footer,
nav {
  margin: 0;
  padding: 0;
}
ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Microsoft YaHei", "Arial", "宋体", "Tahoma", "Verdana", "SimSun";
  color: #818181;
  outline: none;
}
select,
textarea {
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a img {
  border: none;

}
hr {
  padding: 0;
  margin: 0;
  border: none;
}
img {
  vertical-align: top;
  display: block;
}
a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
a:hover{
	text-decoration: none;
}
table,
th,
td {
  border-collapse: collapse;
}
input {
  padding-left: 5px;
  box-shadow: none;
  font-family: "aneueots";
  color: #333;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 1px;
  content: "";
  line-height: 0;
  clear: both;
  height: 0;
  overflow: hidden;
}
.clearfix {
  zoom: 1;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.none {
  display: none;
}
.to-animate {
  opacity: 0;
}
b,em,i{
	font-weight: normal;
}
header .navbar .navbar-collapse .navbar-nav li {
    margin: 0 ;
}





	.icon::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-image: url("../images/sprite.png");
}
.icon-brandes::before {
  background-position: -385px -256px;
  width: 28px;
  height: 21px;
}

.icon-logoa::before {
  background-position: -331px -256px;
  width: 52px;
  height: 41px;
}






/*********************************/
header .navbar .navbar-collapse .navbar-nav{
	padding-top: 15px;
	
}
header.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle{
	background: black;
}
/*.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: black!important;
}

header.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: black;
}*/

header .navbar .navbar-collapse .navbar-nav .dropdown-menu li a {
	font-size: 16px;
}

header .header .navbar{
	background: rgba(1,1,1,0);
	border:0;
}
 header .bj > li > a {
    color: white;
}
header .navbar-default .navbar-nav > li > a {
    color:white;
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: red!important;
    background-color: transparent;
}
header .header .navbar {
    margin-bottom: 0;
}
header.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle {
    background: transparent!important;
}

.brands img{
	float: right;
	margin-left: 20px;
}
header .brands img:nth-of-type(2){
	display: none;
	/*opacity: 0;*/
}

header .log1 img{
	margin-top: 15px;
	margin-right: 15px;
}
header .log1 img:nth-of-type(2){
	display: none;
	/*opacity: 0;*/
}
.navbar-header a{
	margin-right:30px ;
	
}
.index {
  width: 100%;
  background: #fff;
  position: relative;
}
.index header .header {
  /*width: 1200px;*/
  height: 100%;
  margin: 0 auto;
}
.index header .header .logoa {
  display: inline-block;
 margin-top: 20px;
}


.banner {
  width: 100%;
  background: #000;
}
.banner .container {
  width: 100%;
  margin: 0 auto;
  /*padding-top: 100px;*/
  /*padding-bottom: 60px;*/
}
.banner .container .banner-img {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  
}
.banner .container .banner-img img {
  width: 60%;
   margin: 0 auto;
}
.banner .container .banner-img.banner_bg1 {
  background: #000;
}
.banner .container .banner-img.banner_bg2 {
  background: #000;
}
.banner .swiper-button-next {
  right: -150px;
  width: 400px;
  height: 100%;
  top: 0;
}
.banner .swiper-button-prev {
  left: -150px;
  top: 0;
  height:100%;
  width: 400px;
}
 .container .poweract{
	height: 120px;
}
.container .poweract h2{
	font-size: 35px;
	color: #e30a2a;
	margin-top: 6%;
}
.container .poweract p{
	font-size: 16px;
	color: #333131;
	margin-top:20px;
}

.l_uppercase {
  text-transform: uppercase;
  font-size: 48px;
  color: #e30a2a;
  text-align: center;
  line-height: 60px;
  padding: 8.5% 0 4%;
}
.l_des {
  color: #333333;
  font-size: 18px;
  text-align: center;
  margin: 0 auto 7%;
  line-height: 32px;
}
.row_no_mar a:hover p{
	color: white!important;
}




footer {
  width: 100%;
  background: #333333;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .container {
  /*width: 1200px;*/
}
footer .container .footer_des {
  width: 46%;
  float: left;
}
footer .container .footer_des h4 {
  font-size: 17px;
  color: #ffffff;
  line-height: 30px;
}
footer .container .footer_des p {
  font-size: 15px;
  line-height: 30px;
}
footer .container .footer_des p a {
  color: #999999;
}
footer .container .footer_des p a:hover{
  color: #e30a2a;
}
footer .container .footer_des1 {
  width: 52%;
}
footer .container .footer_address p {
  line-height: 30px;
  color: #999999;
  font-size: 15px;
}
footer .container {
 padding: 0;
}
.index .container{
	padding-left: 0;
	padding-right: 0;
}

 .container .row button{
	width: 29%;
	height: 50px;
	background: #e6e6e6;
	margin: 40px 0;
	border: 0;
	color: #565656;
}
.container .row{
	margin-left: 0;
	margin-right: 0;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
.banner .swiper-wrapper img{
	margin: 0 auto!important;
	display: block;
}

/**********************1200px大屏**************************/
@media (min-width: 1200px){
.bj {
	list-style: none;
	width: 592px;
	height: 50px;
	line-height: 50px;
	color: white;
	position: relative;
}
.container{
	width: 1200px;
	margin: 0 auto;
}

.bj li {
	float: left;
	width: 82px;
	text-align: center;
	position: relative;
	z-index: 10;
}

.bj .bg {
	width: 50px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 50px;
	z-index: 0;
	border-bottom: 3px solid white;
	margin-left: 10px;
}
header {
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  color: #fff;
  font-size: 16px;
  z-index: 100;
}
header .navbar .navbar-collapse .navbar-nav li:hover a{
 color: white;
}
header .navbar .navbar-collapse .navbar-nav .dropdown-menu li a{
 color:black;
}
header .navbar .navbar-collapse .navbar-nav .dropdown-menu li:hover{
 background:black;
}


}

/*********************小于1200px***************************/
@media only screen and (max-width: 1200px){
	
 .container .row button{
	width: 50%;
	height: 50px;
	background: #e6e6e6;
	margin: 3% 0;
	border: 0;
	color: #565656;
}
.l_uppercase {
  text-transform: uppercase;
  font-size: 30px;
  color: #e30a2a;
  text-align: center;
  line-height: 45px;
  padding: 8.5% 0 4%;
}

}

/************************小于1200的小屏********************************/
@media (max-width: 1200px){
	
header{
  background: black!important;
}

 .container .navbar-collapse .bj li {
    /*float: left;*/
    /*width: 82px;*/
    text-align: left;
    position: relative;
    z-index: 11;
}
.container .navbar-collapse .bj {
	list-style: none;
	line-height: 50px;
	color: white;
	position: relative;
}

.container{
	top: 0!important;
}
 .index .container{
  	padding-left: 15px !important;
    padding-right: 15px!important;
  }
  
  .index .banner .container {
    padding-left:0 !important;
    padding-right: 0 !important;
}

}



/*********************小于768px***************************/
@media only screen and (max-width: 768px){
	
 footer .container .col-sm-6 .footer_des{
  margin-top:10px;
 }



}



.dropdown .dropdown-menu1{
	display: none;
}
header .navbar .navbar-collapse .navbar-nav .dropdown:hover .dropdown-menu1{
	display: block;
}
header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu1 li{
	margin-top: 10px;
}
header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu1 li a{
	color: white;
	margin: 15px 10px;
	font-size: 15px;
}

header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu1 li:hover a{
	font-size: 16px;
}
/* 回到顶部*/

.index .htop{
	display: block;
	width: 30px;
	height: 30px;
	background:orangered;
	position: fixed;
	right: 5px;
	bottom: 5px;
	line-height: 30px;
	text-align: center;
	opacity: 0;
	z-index:1000 ;
	border-radius: 5px;
	font-size: 13px;
	color: white;
	border: 0;
}

