.index {
  width: 100%;
  background: #fff;
  position: relative;
}

.index header .header .logoa {
  display: inline-block;
  margin-top: 20px;
}
.index .about {
  width: 100%;
}
.banner .container .swiper-pagination-bullet {
    width: 40px;
    height: 3px;
    border-radius: 0;
    display: inline-block;
}
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 20px;
    left: 0;
    width: 100%;
}
.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url(../images/index/images/left_06.png);
}
.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white{
	background-image: url(../images/index/images/right_03.png);
	
}


.index .about .container {
  margin: 0 auto 60px;
}
.index .about .container .l_spe5 div {
  border: 1px solid #b5b5b5;
  border-right: 0;
  text-align: center;
}
.index .about .container .l_spe5 .w20 {
  width: 20%;
}
.index .about .container .l_spe5 div:hover {
  background: #e30a2a;
  border: 1px solid #e30a2a;
}
.index .about .container .l_spe5 div:hover a {
  color: white;
}
.index .about .container .l_spe5 div img:nth-of-type(2) {
  display: none;
}
.index .about .container .l_spe5 div:hover img:nth-of-type(1) {
  display: none;
}
.index .about .container .l_spe5 div:hover img:nth-of-type(2) {
  display: block;
}
.index .about .container .l_spe5 div a {
  display: block;
}
.index .container .l_spe5 .col-md-4{
	padding-bottom: 2%;
}
.index .container .l_spe5 .col-md-4 img{
	height: 173px;
	margin: 0 auto;
}
.index .about .container .l_spe5 a .last{
  border-right: 1px solid #b5b5b5;
}
.index .vedioBox {
  width: 100%;
}
.index .vedioBox .container {
  margin: 0 auto;
  background: #1e2128;
}
.index .news {
  width: 100%;
  margin-bottom: 8%;
}
.index .news .container {
  margin: 0 auto;
}
.index .news .container .row .w11{
  padding-left: 0px;
  padding-right: 20px;
}
.index .news .container .top_img {
  width: 100%;
}
.index .news .container .top_img img {
  width: 100%;
}
.index .news .container .col-sm-7 img,.index .news .container .col-sm-5 img {
  height: 480px;
}
.index .news .container .col-sm-4 img {
  height: 380px;
}
.index .news .container .bot_des {
  background: #ededed;
}
.index .news .container .bot_des .bot_des1 {
  width: 80%;
  font-size: 18px;
  color: #000000;
  line-height: 38px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
}
.index .news .container .bot_des .bot_des2 {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #666666;
  font-size: 14px;
  padding-bottom: 40px;
  padding-top: 15px;
}
.index .news .container .bot_des .bot_des2 span {
  display: inline-block;
  margin: 0 5px;
}

/*动画阴影效果*/
.news .container .row .w1{
margin-bottom:20px;
position: relative;
padding: 0;
transition: all .3s  cubic-bezier(.55,0,.1,1);
}
.news .container .row .w1:hover{
	box-shadow:0 15px 50px rgba(0,0,0,0.3);
	opacity: 0.8;
	transform: translateY(-5px);
}




/*兼容移动端*/



@media (max-width: 992px) {
  .w20{
  	float: left;
  	width: 50%!important;
  }
  .index .news .container .col-sm-7 img,.index .news .container .col-sm-5 img {
  height: 100%!important;
}
.index .news .container .col-sm-4 img {
  height: 100%!important;
}
  
  .index .news .container .row .w11 {
    padding-left: 10px !important;
    padding-right: 10px!important;
}
  
  .index .container{
  	padding-left: 15px !important;
    padding-right: 15px!important;
  }
  
  .index .vedioBox {
  	padding-left: 15px !important;
    padding-right: 15px!important;
}
}

@media only screen and (max-width: 1200px){

 
 .index .container .l_spe5 .col-md-4 img{
	height: 120px;
}
 
 .index .container .col-md-2 .icon-erwm1{
 	float: left!important;
 }
 
 
 
}


@media only screen and (min-width:1200px) {
	.banner .container .swiper-wrapper .swiper-slide img{
	width: 1920px;
	height: 881px;
	margin:0 auto;
}

}

@media only screen and (max-width:768px) {
	.swiper-button-prev.swiper-button-white{
		display: none;
	}
	.swiper-button-next.swiper-button-white{
		display: none;
	}
	
	
	
}