.insightW{
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f5f5f5;
}
.insightW .container{
  height:100%;
  position: relative;
  background: white;
  z-index: 11;
  text-align: center;
  padding-top: 10px;
}
.insightW .container .row1{
	width: 100%;
	border-bottom: 1px dashed #cdcccc;
}
.insightW .container .row1 p{
	margin:0 3.3%;
	text-align: left;
}
.insightW .container .row1 p:nth-of-type(1){
	margin-top: 50px;
	color: #333333;
	font-size: 23px;
}
.insightW .container .row1 .img1{
	width: 100%;
	margin-bottom: 10px;
}
.insightW .container .row1 p:nth-of-type(2){
	line-height: 50px;
	color: #646464;
	position: relative;
}

.insightW .container .row1 p span:nth-of-type(1){
	right: 120px;
}
.insightW .container .row1 p span:nth-of-type(2){
	right: 60px;
}
.insightW .container .row1 p span:nth-of-type(3){
	right: 0px;
}
.insightW .container .row1 p:nth-of-type(3){
	line-height:29px;
	color: #494949;
	margin-bottom: 40px;
}
.insightW .container .row button:hover{
	background: red;
	color: white;
}



/*********************大屏1200px***************************/
@media only screen and (min-width: 1200px){
	
	.insightW .container {
  width: 1200px;
  top: -100px;
}
	.insightW .container .row1{
	height: 500px;}
	
	.insightW .container .row1 .img1{
	height: 260px;
}
}


/*********************小于1200px***************************/
@media only screen and (max-width: 1200px){
	
.insightW .container .row1{
padding: 0 3.3%!important;	
}

}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
	
}

@media only screen and (min-width: 341px){
	
.insightW .container .row1 p span{
	position: absolute;
}


}










