.serveW {
  width: 100%;
  height: auto;
  background: #f5f5f5;
}
.serveW .container {
  height:100%;
  position: relative;
  background: white;
  z-index: 11;
  text-align: center;
}
.serveW .col-md-6{
	height: 537px;
	color: #8c8c8c;
	padding-left: 60px;
	padding-right: 60px;
	text-align: center;
}
.serveW .col-md-6 a{
	margin: 5px 21px;
	float: left;
	color: #e6e5e8;
}
.serveW .col-md-6 h3{
	color: white;
	margin-top: 70px;
}
.serveW .col-md-6 p{
	margin-top: 20px;
	margin-bottom: 45px;
	font-size: 15px;
	color: #e6e5e8;
}
.serveW .col-md-4 img{
	margin: 0 auto;
}
.serveW .col-md-4 p:nth-of-type(1){
	font-size: 20px;
	line-height: 40px;
}
.serveW .row .r2{
	color: #333333;
}

.serveW .cooperation .row{
	/*padding-left: 80px;*/
}

/*********************大屏1200px***************************/
@media only screen and (min-width: 1200px){
	
	.serveW .container {
  width: 1200px;
  top: -100px;
}
.serveW .col-md-6{
	height: 537px;
	padding-left: 60px;
	padding-right: 60px;
}
.serveW .cooperation .row{
	padding-left: 80px;
}
.serveW .cooperation .row img{
	float: left;
	margin: 0 auto;
}
.serveW .cooperation .poweract{
	height: 180px;
}


}


/*********************小于1200px***************************/
@media only screen and (max-width: 1200px){
	
.serveW .container .row .col-lg-6 img{
	margin: 5% auto;
}
.serveW .cooperation .hidden-lg div img{
	margin: 0 auto;
}
.serveW .cooperation {
	padding-bottom: 10%!important;
}


}

