.TigerW{
  width: 100%;
  height: auto;
  /*padding-top: 50px;*/
  padding-bottom: 100px;
  background: #f5f5f5;
}
.TigerW .content1{
  height:100%;
  position: relative;
  background: white;
  z-index: 11;
  text-align: center;
  padding-top: 10px;
}
.TigerW .container .row1{
	margin: 0 6.66%;
	text-align: left;
	position: relative;
}
.TigerW .container .row1 h1 span{
	position: absolute;
	width: 88px;
	height: 40px;
	line-height: 40px;
	display: block;
	color: white;
	top: 100px;
	right: 0;
	background: red;
	font-size: 22px;
	text-align: center;
}
.TigerW .container .row1 p:nth-of-type(2){
	margin-bottom:6%;
	color: #000000;
	font-size: 18px;
	line-height: 32px;
}
.TigerW .container .row img{
	width: 100%;
}
.TigerW .footW{
	/*margin-bottom: 50px;*/
	
}
.TigerW .footW h2{
	color: red;
	font-size: 30px;
	margin-bottom: 35px;
}

/*********************大屏1200px***************************/
@media only screen and (min-width: 1200px){
	
	.TigerW .container {
  width: 1200px;
  top: -100px;
}
.TigerW .container .row1 h1{
	font-size: 48px;
	color: #ff0000;
	line-height: 254px;
}
.TigerW .container p:nth-of-type(1) {
    font-size: 34px;
    color: #313131;
    margin-bottom: 40px;
}

}


/*********************小于1200px***************************/
@media only screen and (max-width: 1200px){
	.TigerW .container .row1 h1 {
    font-size:2em;
    color: #ff0000;
   	margin: 10% 0;
}

.TigerW .container p:nth-of-type(1) {
    font-size: 1.5em;
    color: #313131;
    margin-bottom:6%;
}

.TigerW .footW {
	padding-top: 10%!important;
}

.TigerW .col-lg-4{
	margin-bottom: 5%;
}

}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
	
}