.caseW2{
  width: 100%;
  height: auto;
  /*padding-top: 50px;*/
  padding-bottom: 100px;
  background: #f5f5f5;
}
.caseW2 .content1{
  width: 1200px;
  height:100%;
  position: relative;
  top: -100px;
  background: white;
  z-index: 11;
  text-align: center;
  padding-top: 10px;
}
.caseW2 .container .row1{
	margin: 0 80px;
	text-align: left;
	position: relative;
}
.caseW2 .container .row1 h1{
	font-size: 60px;
	color: #ff0000;
	line-height: 80px;
}
.caseW2 .container .row1 h1 span{
	position: absolute;
	width: 88px;
	height: 40px;
	line-height: 40px;
	display: block;
	color: white;
	top: 10px;
	right: 0;
	background: red;
	font-size: 22px;
	text-align: center;
}
.caseW2 .container p{
	font-size: 16px;
	color: #000000;
	line-height: 34px;
}
.caseW2 .container .row1 p:nth-of-type(1){
	line-height: 60px;
	border-bottom: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	height: 60px;
	margin: 60px 0;
}
.caseW2 .container .row1 p:nth-of-type(3){
	margin-top: 35px;
	margin-bottom: 80px;
}
.caseW2 .container .row img{
	width: 100%;
}

.caseW2 .container{
  width: 1200px;
  height: 100%;
}
.caseW2 .footW{
	/*margin-bottom: 50px;*/
	
}
.caseW2 .footW h2{
	color: red;
	font-size: 30px;
	margin-bottom: 35px;
}
